.profile{
    display: flex;
    gap: 1.5rem;
}
.profile img{
    max-width: 4rem;
    height: 4rem;
}
.text{
    width: 70%;
    font-size: 2rem;
}
.text p{
    margin: 0 ;
}   
.email{
    color: gray;
}